In [124]:
import numpy as np
import pandas as pd

In [125]:
df=pd.read_csv('csv_data/final_dataset.csv')
df.head()

,Tweet Id,Tweets,User Id,Screen Name,Class
0,319399851215433000,Oh yeah Colin! Smash those girls! :D #MKR,949380854,CreatrixKali,sexism
1,320817818222358000,It's insane they keep bringing people back. Wh...,297877558,quincepoacher,none
2,324114200450437000,@berkeley_eagle #MKR this shit show has more ...,272704749,MarkTramby,none
3,326286656854454000,*sigh* oh Colin üòç #MKR,71416635,BinnyD,none
4,381988216292655000,"RT @brian_day15: I swear, I'm not sexist, but ...",930620467,YesYoureSexist,sexism

In [126]:
df.rename(columns={'Class':'Label'},inplace=True)

In [127]:
df.head()

,Tweet Id,Tweets,User Id,Screen Name,Label
0,319399851215433000,Oh yeah Colin! Smash those girls! :D #MKR,949380854,CreatrixKali,sexism
1,320817818222358000,It's insane they keep bringing people back. Wh...,297877558,quincepoacher,none
2,324114200450437000,@berkeley_eagle #MKR this shit show has more ...,272704749,MarkTramby,none
3,326286656854454000,*sigh* oh Colin üòç #MKR,71416635,BinnyD,none
4,381988216292655000,"RT @brian_day15: I swear, I'm not sexist, but ...",930620467,YesYoureSexist,sexism

In [128]:
df['Label']=df['Label'].replace({'sexism':1,'none':0})

In [129]:
df.head()

,Tweet Id,Tweets,User Id,Screen Name,Label
0,319399851215433000,Oh yeah Colin! Smash those girls! :D #MKR,949380854,CreatrixKali,1
1,320817818222358000,It's insane they keep bringing people back. Wh...,297877558,quincepoacher,0
2,324114200450437000,@berkeley_eagle #MKR this shit show has more ...,272704749,MarkTramby,0
3,326286656854454000,*sigh* oh Colin üòç #MKR,71416635,BinnyD,0
4,381988216292655000,"RT @brian_day15: I swear, I'm not sexist, but ...",930620467,YesYoureSexist,1

In [130]:
df=df.drop(['User Id','Screen Name','Tweet Id'],axis=1)

In [131]:
df.head()

                                              Tweets Label
0          Oh yeah Colin! Smash those girls! :D #MKR     1
1  It's insane they keep bringing people back. Wh...     0
2  @berkeley_eagle #MKR  this shit show has more ...     0
3                             *sigh* oh Colin üòç #MKR     0
4  RT @brian_day15: I swear, I'm not sexist, but ...     1

In [132]:
df.tail()

                                                  Tweets Label
11320  Oh fuck me hard with a rusty chainsaw, another...     0
11321      OMG SHUT UP DRASKO AND BIANCA #MKR #FINALFIVE     0
11322                                   STFU drasko #MKR     0
11323  Ash found her inner bogun #whistle #fingersint...     1
11324  Sorry but #JessieJ on #thevoiceau is being a r...     1

In [133]:
import re
def remove_pattern(input_text,pattern):
    r=re.findall(pattern,input_text)
    for i in r:
        input_text= re.sub(i,'',input_text)
    return input_text
df['Tweets'] = np.vectorize(remove_pattern)(df['Tweets'], "@[\w]*")
df['Tweets'] = df['Tweets'].str.replace("[^a-zA-Z#]", " ")

In [134]:
df

                                                  Tweets Label
0              Oh yeah Colin! Smash those girls! :D #MKR     1
1      It's insane they keep bringing people back. Wh...     0
2       #MKR  this shit show has more comebacks than ...     0
3                                 *sigh* oh Colin üòç #MKR     0
4      RT : I swear, I'm not sexist, but I honestly j...     1
...                                                  ...   ...
11320  Oh fuck me hard with a rusty chainsaw, another...     0
11321      OMG SHUT UP DRASKO AND BIANCA #MKR #FINALFIVE     0
11322                                   STFU drasko #MKR     0
11323  Ash found her inner bogun #whistle #fingersint...     1
11324  Sorry but #JessieJ on #thevoiceau is being a r...     1

[11325 rows x 2 columns]

In [135]:
df['Tweets']=df['Tweets'].str.lower().str.split()

In [136]:
df

                                                  Tweets Label
0      [oh, yeah, colin!, smash, those, girls!, :d, #...     1
1      [it's, insane, they, keep, bringing, people, b...     0
2      [#mkr, this, shit, show, has, more, comebacks,...     0
3                           [*sigh*, oh, colin, üòç, #mkr]     0
4      [rt, :, i, swear,, i'm, not, sexist,, but, i, ...     1
...                                                  ...   ...
11320  [oh, fuck, me, hard, with, a, rusty, chainsaw,...     0
11321  [omg, shut, up, drasko, and, bianca, #mkr, #fi...     0
11322                               [stfu, drasko, #mkr]     0
11323  [ash, found, her, inner, bogun, #whistle, #fin...     1
11324  [sorry, but, #jessiej, on, #thevoiceau, is, be...     1

[11325 rows x 2 columns]

In [137]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/yash/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [138]:
nltk.download('stopwords')
from nltk.corpus import stopwords
def remove_pattern(input_text, pattern):
    return re.sub(pattern, '', input_text)

# Remove stopwords
stopwords_set = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /home/yash/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [140]:
df['Tweets'] = df['Tweets'].apply(lambda x: ' '.join([word for word in x if word not in stopwords_set]))
# Remove specific characters
df['Tweets'] = df['Tweets'].apply(lambda x: remove_pattern(x, r'@\w+|#\w+|!|rt|\*|:'))

In [141]:
from nltk.stem import	WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [142]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /home/yash/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [143]:

for i in df['Tweets']:
    for word in i:
        word=lemmatizer.lemmatize(word)

In [144]:
df.shape

(11325, 2)

In [145]:
X = df['Tweets'].astype(str)
Y = df['Label'].replace('Positive', 'Not Positive')

In [146]:
df

                                                  Tweets Label
0                           oh yeah colin smash girls d      1
1            insane keep bringing people back. show end      0
2           shit show comebacks johnny farnham, ok back      0
3                                       sigh oh colin üòç      0
4        swear, i'm sexist, honestly cannot stand wom...     1
...                                                  ...   ...
11320  oh fuck hard rusty chainsaw, another round ins...     0
11321                           omg shut drasko bianca       0
11322                                       stfu drasko      0
11323                     ash found inner bogun   ewwww      1
11324                           sorry   real cunt. that.     1

[11325 rows x 2 columns]

In [147]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [148]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
Y_test = Y_test.astype(str)

In [149]:
vectorizer = CountVectorizer()
X_train_vec = vectorizer.fit_transform(X_train)
X_test_vec = vectorizer.transform(X_test)

In [150]:
from sklearn.preprocessing import LabelEncoder

# Create label encoder object
label_encoder = LabelEncoder()

# Check if labels are already numeric
if isinstance(Y_train.values[0], str):
    # Encode string labels
    Y_train_encoded = label_encoder.fit_transform(Y_train.values)
else:
    # Convert numeric labels to strings and then encode
    Y_train_str = [str(label) for label in Y_train.values]
    Y_train_encoded = label_encoder.fit_transform(Y_train_str)

# Fit the logistic regression model
model = LogisticRegression()
model.fit(X_train_vec, Y_train_encoded)

LogisticRegression()

In [151]:
Y_pred = model.predict(X_test_vec)

In [152]:
Y_test_encoded = label_encoder.transform(Y_test) 
print(classification_report(Y_test_encoded, Y_pred))

              precision    recall  f1-score   support

           0       0.85      0.94      0.89      1645
           1       0.78      0.56      0.66       619
           2       0.00      0.00      0.00         1

    accuracy                           0.84      2265
   macro avg       0.54      0.50      0.52      2265
weighted avg       0.83      0.84      0.83      2265